# Contents

* [Print](#python-print)
* [Data Types](#data-types)
    * [numbers](#int--float)
    * [str](#str)
    * [boolean](#bool)
    * [collections](#collections)
        * [SETS](#sets)
        * [TUPLES](#tuples)
        * [DICTIONARY](#dict)
        * [LIST](#list)
* [Operators](#operators)
    * [Addtion](#addition---)
    * [Substraction](#substraction----)
    * [Multiplication](#multiplication---)
    * [Division](#division---)
    * [Floor Division](#floor-division---)
    * [Modulus](#modulus---)
    * [Exponent](#exponent---)

# Python Print

Here you can see different ways of using print function.

In [29]:
print("Hello World!")

Hello World!

In [30]:
name = "john"
email = "john@gmail.com"
print(name+" - "+email)

john - john@gmail.com

In [31]:
name = "john"
email = "john@gmail.com"
print(name, email, sep=" - ")

john - john@gmail.com

In [32]:
name = "john"
email = "john@gmail.com"
print(name)
print(email)

john
john@gmail.com

In [2]:
name = "john"
email = "john@gmail.com"
print(name, end=' - ')
print(email)

john - john@gmail.com

# Data Types

### int & float

In [3]:
numbers = 9 
decimals = 0.9

print(type(numbers), type(decimals))

<class 'int'> <class 'float'>

### str

In [4]:
text_data_1 = "Tech Savvy"
text_data_2 = "Even you can give single word or sentence."

print(type(text_data_1), type(text_data_2))

<class 'str'> <class 'str'>

### bool

In [5]:
bool_data_1 = True
bool_data_2 = False

print(type(bool_data_1), type(bool_data_2))

<class 'bool'> <class 'bool'>

### collections

### sets

In [8]:
my_set = {1, 2, 3, 4}

print(my_set, type(my_set), sep=" - ")

{1, 2, 3, 4} - <class 'set'>

### tuples

In [9]:
my_tuple = (1, 2, 3, 4)

print(my_tuple, type(my_tuple), sep=" - ")

(1, 2, 3, 4) - <class 'tuple'>

### dict

In [10]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

print(my_dict, type(my_dict), sep=" - ")

{'key1': 'value1', 'key2': 'value2'} - <class 'dict'>

### list

In [11]:
my_list = [1, 2, 3, 4]

print(my_list, type(my_list), sep=" - ")

[1, 2, 3, 4] - <class 'list'>

# Operators

### ADDITION - "+"

In [11]:
num_1 = 5
num_2 = 6

print(num_1 + num_2)

11

### SUBSTRACTION - "-"

In [12]:
num_1 = 5
num_2 = 6

print(num_1 - num_2)

-1

### MULTIPLICATION - "*"

In [13]:
num_1 = 5
num_2 = 6

print(num_1 * num_2)

30

### DIVISION - "/"

In [14]:
num_1 = 5
num_2 = 6

print(num_1 / num_2)

0.8333333333333334

### FLOOR DIVISION - "//"

In [15]:
num_1 = 5
num_2 = 6

print(num_1 // num_2)

0

### MODULUS - "%"

In [16]:
num_1 = 5
num_2 = 6

print(num_1 % num_2)

5

### EXPONENT - "**"

In [17]:
num_1 = 5
num_2 = 6

print(num_1 ** num_2)

15625