# Contents

* [Print](#python-print)
* [Data Types](#data-types)
    * [numbers](#int--float)
    * [str](#str)
    * [boolean](#bool)
    * [collections](#collections)
        * [SETS](#sets)
        * [TUPLES](#tuples)
        * [DICTIONARY](#dict)
        * [LIST](#list)
* [Operators](#operators)
    * [Addtion](#addition---)
    * [Substraction](#substraction----)
    * [Multiplication](#multiplication---)
    * [Division](#division---)
    * [Floor Division](#floor-division---)
    * [Modulus](#modulus---)
    * [Exponent](#exponent---)
* [Comparision Oprators](#comparision-operators)
    * [Equal to](#equal-to---)
    * [Not Equal to](#not-equal-to---)
    * [Lessthan](#less-than---)
    * [Greater than](#greater-than---)
    * [Lessthan or equal to](#lessthan-or-equal-to---)
    * [Greater than or equal to](#greater-than-or-equal-to---)
* [Assignment Operators](#assignment-operators)
* [Logical and Membership Operators](#logical--membership-operators)
* [String Formatting](#string-formatting-with-python)

# Python Print

Here you can see different ways of using print function.

In [29]:
print("Hello World!")

Hello World!

In [30]:
name = "john"
email = "john@gmail.com"
print(name+" - "+email)

john - john@gmail.com

In [31]:
name = "john"
email = "john@gmail.com"
print(name, email, sep=" - ")

john - john@gmail.com

In [32]:
name = "john"
email = "john@gmail.com"
print(name)
print(email)

john
john@gmail.com

In [2]:
name = "john"
email = "john@gmail.com"
print(name, end=' - ')
print(email)

john - john@gmail.com

# Data Types

### int & float

In [3]:
numbers = 9 
decimals = 0.9

print(type(numbers), type(decimals))

<class 'int'> <class 'float'>

### str

In [4]:
text_data_1 = "Tech Savvy"
text_data_2 = "Even you can give single word or sentence."

print(type(text_data_1), type(text_data_2))

<class 'str'> <class 'str'>

### bool

In [5]:
bool_data_1 = True
bool_data_2 = False

print(type(bool_data_1), type(bool_data_2))

<class 'bool'> <class 'bool'>

### collections

### sets

In [8]:
my_set = {1, 2, 3, 4}

print(my_set, type(my_set), sep=" - ")

{1, 2, 3, 4} - <class 'set'>

### tuples

In [9]:
my_tuple = (1, 2, 3, 4)

print(my_tuple, type(my_tuple), sep=" - ")

(1, 2, 3, 4) - <class 'tuple'>

### dict

In [10]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

print(my_dict, type(my_dict), sep=" - ")

{'key1': 'value1', 'key2': 'value2'} - <class 'dict'>

### list

In [11]:
my_list = [1, 2, 3, 4]

print(my_list, type(my_list), sep=" - ")

[1, 2, 3, 4] - <class 'list'>

# Operators

### ADDITION - "+"

In [11]:
num_1 = 5
num_2 = 6

print(num_1 + num_2)

11

### SUBSTRACTION - "-"

In [12]:
num_1 = 5
num_2 = 6

print(num_1 - num_2)

-1

### MULTIPLICATION - "*"

In [13]:
num_1 = 5
num_2 = 6

print(num_1 * num_2)

30

### DIVISION - "/"

In [14]:
num_1 = 5
num_2 = 6

print(num_1 / num_2)

0.8333333333333334

### FLOOR DIVISION - "//"

In [15]:
num_1 = 5
num_2 = 6

print(num_1 // num_2)

0

### MODULUS - "%"

In [16]:
num_1 = 5
num_2 = 6

print(num_1 % num_2)

5

### EXPONENT - "**"

In [17]:
num_1 = 5
num_2 = 6

print(num_1 ** num_2)

15625

# Comparision Operators

### Equal to - "=="

In [1]:
num_1 = 5
num_2 = 5

print(num_1==num_2)

True

### Not Equal to - "!="

In [2]:
num_1 = 5
num_2 = 5

print(num_1!=num_2)

False

### Less than - "<"

In [6]:
num_1 = 5
num_2 = 6

print(num_1<num_2)

True

### Greater than - ">"

In [7]:
num_1 = 5
num_2 = 6

print(num_1>num_2)

False

### Lessthan or equal to - "<="

In [8]:
num_1 = 5
num_2 = 6

print(num_1 <= num_2)

True

### Greater than or equal to - ">="

In [9]:
num_1 = 5
num_2 = 6

print(num_1 >= num_2)

False

# Assignment Operators

### "=" Assign value to a variable

In [1]:
num_1 = 10

print(num_1)

10

### Combine assignment and operations

In [4]:
num_1 = 10
num_1 += 3
print(num_1)

13

In [5]:
num_1 = 10
num_1 -= 3
print(num_1)

7

In [6]:
num_1 = 10
num_1 *= 3
print(num_1)

30

In [7]:
num_1 = 10
num_1 /= 3
print(num_1)

3.3333333333333335

In [8]:
num_1 = 10
num_1 //= 3
print(num_1)

3

In [9]:
num_1 = 10
num_1 **= 3
print(num_1)

1000

# Logical & Membership Operators

### AND Operator

In [17]:
num_1 = 10
num_2 = 12
num_3 = 15

(num_1 < num_2) and (num_1 > num_3)

False

In [18]:
num_1 = 10
num_2 = 12
num_3 = 15

(num_1 < num_2) or (num_1 > num_3)

True

In [19]:
num_1 = 10
num_2 = 12
num_3 = 15

not (num_1 > num_2)

True

In [21]:
print(1 in [1,2,3,4,5,6], 'a' in 'apple')

True True

In [22]:
print(1 not in [1,2,3,4,5,6], 'a' not in 'apple')

False False

## String Formatting with Python

In [10]:
name = "TechSavvy"
age = 30

sentence = "My name is {} and I am {} years old.".format(name, age)
print(sentence)

My name is TechSavvy and I am 30 years old.

In [11]:
name = "TechSavvy"
age = 30

sentence = f"My name is {name} and I am {age} years old."
print(sentence)

My name is TechSavvy and I am 30 years old.

In [13]:
name = "TechSavvy"
age = 30

sentence = "My name is %s and I am %d years old." % (name, age)
print(sentence)

My name is TechSavvy and I am 30 years old.

In [14]:
sentence = "My name is {name} and I am {age} years old.".format(name="TechSavvy", age=30)
print(sentence)

My name is TechSavvy and I am 30 years old.

In [16]:
from string import Template

template = Template("My name is $name and I am $age years old.")
sentence = template.substitute(name="TechSavvy", age=30)
print(sentence)

My name is TechSavvy and I am 30 years old.